html,
body,
aside,
main,
section,
article {
  margin: 0;
  padding: 0;
}

a {
  color: greenyellow;
}

body {
  background: $body-background-color;
  color: $foreground-color;
  font-family: 'DINP-R', arial, serif;
  font-size: 1.3em;
}

header,
footer {
  padding: 2rem;
}

main {
  display: flex;
  padding: 2rem;
}

aside {
  flex: .2;
  padding: 0 2rem 0 0;

  p {
    font-size: 1rem;
    margin: 0 0 1rem 0;

    &.done {
      cursor: pointer;
    }
  }
}

mark {
  font-size: 1rem;
  padding: .5rem;
  background-color: transparent;

  &.no {
    background-color: orangered;
  }

  &.yes {
    background-color: greenyellow;
  }
}

section {
  flex: .8;
  display: flex;
  justify-content: center;
}

svg {
  position: absolute;
}

label {
  font-size: .85rem;
}

.shape,
.light,
.circle,
.dot,
.mirror,
.controller,
.bg,
.distance {
  position: absolute;
}

.shape {
  width: 0px;
  height: 0px;
  background-color: transparent;
  border-top: 0px solid brown;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
}

.light {}

.distance {
  border-left: 1px dotted black;
}

.controller {
  border-radius: 100%;
  //  opacity: .5;

  &.triangle {
    //    background-color: burlywood;
  }

  &.dot {
    //    background-color: cadetblue;
  }

  &.light {
    background-color: darkcyan;
  }
}

.light {
  background-color: yellow;

  &.dashed {
    background-color: transparent;
    border-left: 5px dashed yellow;
  }
}

.circle {
  width: 0px;
  height: 0px;
  border-radius: 100%;
  //  opacity: .5;

  &.c0,
  &.r0,
  &.c1,
  &.c2,
  &.r1,
  &.r2 {
    position: absolute;
    background-color: red;
  }

  &.choice0,
  &.choice1,
  &.choice2,
  &.choice3,
  &.choice4,
  &.choice5 {
    position: absolute;
    border: 3px dashed red;
    cursor: pointer;
  }
}

.interactive {
  position: absolute;
  opacity: .8;

  .slider {
    position: absolute;
    //    background-color: green;
    border: 2px dashed black;
  }
}

.mirror {
  opacity: .7;

  &.front {
    background-color: aquamarine;
  }

  &.back {
    background-color: aliceblue;
  }
}

.wrapper {
  position: relative;

  .bg {
    background-color: deepskyblue;
  }
}

.scene {
  position: relative;

  label {
    position: absolute;
    width: max-content;
  }

  &.perspective {
    //    background-color: deepskyblue;
    .front, .back{
      pointer-events: none;
    }
    .c1, .c2{
      cursor: pointer;
    }
  }

  &.top {
    border-top: 5px solid deepskyblue;
    background-color: darkgrey;
    margin: 0 1rem 0 0;
  }
}
